.container{
    background-color: white;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.button{
    border-width: 3px;
    border-color: rgb(48, 45, 45);
    border-style: solid;
    background-color: grey;
    border-radius: 25px;
    width: 100px;
    height: 50px;
    font-size: 30px;
    color: rgb(48, 45, 45);
}
